@charset "utf-8";



/* CONTAINERS */

.container {max-width: 850px; width: 100%; margin: 0 auto;}
.four { width: 32.26%; max-width: 32.26%;}


/* COLUMNS */

.col {
  display: block;
  float:left;
  /* margin: 1% 0 1% 1.6%; */
  
  
}

.coll {
	display: inline-block;
	float:left;
	margin-left: auto;
	margin-right: 100px;
	

	/* margin: 1% 0 1% 1.6%; */
}

.col:first-of-type { margin-left: 0; }

/* CLEARFIX */

/* .cf:before,
.cf:after {
    content: " ";
    display: table;
} */

/* .cf:after {
    clear: both;
} */

/* .cf {
    *zoom: 1;
} */

/* FORM */

.form cf{
	display: flex;
	flex-direction: column;
}


.OTT-type{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.maching-plan{
	margin-left: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vh;
    margin-bottom: 30px;
    margin-top: 40px;
}

.form .OTT-type input, .maching-plan input{
	display: none;
}

.form label{
	color: black;
	background-color:white;
	font-size: 26px;
	text-align: center;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 12px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#p_member{
	line-height: 70px;
    height: 70px;
    color: black;
    border: 1px solid #4aa9f0;
    width: 250px;
    text-align: center;
    border-radius: 12px;
}

#p_host{
	line-height: 70px;
    height: 70px;
    color: black;
    border: 1px solid #4aa9f0;
    width: 250px;
    text-align: center;
    border-radius: 12px;
}

.form .OTT-type input:checked + label{
	border: 1px solid #4aa9f0;
    background-color: #E8F0F6;
}

.maching-plan input:checked + label{
	border: 1px solid #E0F8F7;
    background-color: #E8F0F6;
}

.form .OTT-type input:checked + label:after, .maching-plan input:checked + label:after{
	/* content: "\2713"; */
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	border: 1px solid #2fcc71;
	background-color: #2fcc71;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
}

.submit{
	padding: 15px 60px;
	display: inline-block;
	border: none;
	margin: 20px 0;
	background-color: #2fcc71;
	color: black;
	border: 1px solid #2fcc71;
	font-size: 18px;
	-webkit-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.submit:hover{
	cursor: pointer;
	transform: rotateX(360deg);
}


.OTT_img{
    width: 50px;
    height: 50px;
}